.idea/*
venv/*

experiments/data/*
experiments/log/*
experiments/runs/*

*/__pycache__/*
*/venv/*
*/.pytest_cache/*
*/.vscode/*
*/.mypy_cache/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.coverage
*/.coverage.*
*/.DS_Store
*/.mypy_cache/*
*/.pytest_cache/*
*/.vscode/*

*.pyc
